@import "../../assets/vars.sass"
@import "../../assets/mixins.sass"

#carousel
  .slider
    overflow: hidden
    position: relative
    width: $unit23
    height: $unit21

    .slides
      width: max-content
      position: absolute
      top: 0
      left: -$unit23
      cursor: pointer

      &.transition
        transition: all 0.3s ease-in-out

      .slide
        width: $unit23
        height: $unit21

        @include hover-opacity

    .right-arrow,
    .left-arrow
      width: $unit3
      fill: $white
      filter: drop-shadow( 0px 0px 3px $black)

    .left-arrow
      transform: rotate(180deg)

    .prev-arrow,
    .next-arrow
      position: absolute
      top: 50%
      transform: translateY(-50%)
      background: transparent
      border: none

    .next-arrow
      right: $unit4

    .prev-arrow
      left: $unit4

    .prev-arrow:active
      & > svg
        transform: scale(1.1)
        opacity: 0.75
        transform: rotate(180deg)

    .next-arrow:active
      & > svg
        transform: scale(1.1)
        opacity: 0.75
